{% import "macro/general.html.twig" as generalMacro %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inscription - {% block title %}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/footer.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/main.css') }}"/>
    {% block stylesheets %}{% endblock %}
</head>
<body>


{% block menu %}
    {{ render(controller('AppBundle:Commun:menuHeader', {request: app.request} )) }}
{% endblock %}
<div class="container-fluid">
    <div class="row">
        <div class="page-header">
            <h1>
                {% block header %}
                    Inscription Aikido
                {% endblock header %}
            </h1>
        </div>
        {% for flash_message in app.session.flashBag.get('erreur') %}
            <div class="alert alert-danger">
                {{ flash_message }}
            </div>
        {% endfor %}
        {% for flash_message in app.session.flashBag.get('notice') %}
            <div class="alert alert-success">
                {{ flash_message }}
            </div>
        {% endfor %}
    </div>
    <div class="content">
        {% block body %}{% endblock %}
    </div>
    <div id="loader_ajax">
        <img src="{{ asset('img/ajax-loader.gif') }}" alt="En cours de traitement"/>
    </div>

</div>

{% if mode_dev() %}
    <div class="alert alert-danger">
        Mode : Serveur de test
    </div>
{% endif %}

<footer class="footer">
    <div class="container">
        <p class="text-muted"> Version : {{ version }} - (c) <a target="_blank"
                                                                href="https://github.com/jcognet/inscription">Jérôme</a>
            - 2017 => {{ "now"|date('Y') }}
            -
            {% if not app.user %}
                <a href="{{ path('fos_user_resetting_request') }}">Mot de passe perdu</a>
            {% endif %}
        </p>
    </div>
</footer>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
<script src="{{ asset('js/jquery-3-2.1.min.js') }}"></script>
<script src="{{ asset('js/main.js') }}"></script>
<script src="{{ asset('js/popper.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
