{% import "macro/general.html.twig" as generalMacro %}
<div>
    Nombre d'adhérents trouvés : {{ liste_adherents|length  }}
</div>
<table class="table table-striped table-responsive fe_liste">
    <thead>
    <tr>
        <th class="col-sm-1 {{ generalMacro.gereTri(liste_adherents, 'u.prenom') }}">
            {{ knp_pagination_sortable(liste_adherents, 'Prénom', 'u.prenom') }}
        </th>
        <th class="col-sm-1 {{ generalMacro.gereTri(liste_adherents, 'u.nom') }}">
            {{ knp_pagination_sortable(liste_adherents, 'Nom', 'u.nom') }}
        </th>
        <th class="col-sm-1">
            Première inscription
        </th>
        <th class="col-sm-1">
            Date de validation
        </th>
        <th class="col-sm-1">
            Type de cours
        </th>
        <th class="col-sm-1">
            Type d'adhésion
        </th>
        <th class="col-sm-1">
            Date du dernier certificat médical
        </th>
        <th class="col-sm-2">
            Email
        </th>
        <th class="col-sm-2">
            Téléphone
        </th>
        <th class="col-sm-1">&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    {% for adherent in liste_adherents %}
        <tr data-id="{{ adherent.id }}">
            <td>
                {{ adherent.prenom }}
            </td>
            <td>
                {{ adherent.nom }}
            </td>
            <td>
                {{ adherent.premiereInscription.saison.annee }}
            </td>
            <td>
                {% set inscription = adherent.inscriptionDeSaison(get_saison_courante())  %}
                {% if inscription.dateTraitementDossier is not null%}
                    {{ inscription.dateTraitementDossier|date('d/m/Y')}}
                {% else %}
                    -
                {% endif %}
            </td>
            <td>
                {{ get_label_type_cours(adherent.inscriptionDeSaison(get_saison_courante()).typeCours)}}
            </td>
            <td>
                {{ get_label_type_adhesion(adherent.inscriptionDeSaison(get_saison_courante()).typeAdhesion) }}
            </td>
            <td>
                {{ adherent.anneeDerniereCertificatMedical }}
            </td>
            <td>
               <a href="mailto:{{ adherent.email }}"> {{ adherent.email }}</a>
            </td>
            <td>
                <a href="tel: {{ adherent.telephone }}">  {{ adherent.telephone }}</a>
            </td>
            <td>
                <a  class="fa fa-hand-o-right" aria-hidden="true" title="Editer {{ adherent.prenom}} {{ adherent.nom }}" href="{{ path('app_adherent_edit', {'id': inscription.id}) }}"></a>
                {% if adherent.hasEmail %}
                    <a  class="fa fa-envelope-open-o " aria-hidden="true" title="Envoyer un email à  {{ adherent.prenom}} {{ adherent.nom }}" href="mailto: {{ adherent.email }}"></a>
                {% endif %}
                {% if adherent.hasTelephone%}
                    <a  class="fa fa-phone" aria-hidden="true" title="Téléphoner à  {{ adherent.prenom}} {{ adherent.nom }}" href="tel: {{ adherent.telephone }}"></a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>